/*  your css code here. If applicable */
body{
	background-color: #f8f8f8;
}
.book-library{
	background-color: #ffffff;
	
}
p{
	color: #777777;
}
.book{
	margin: 10px;
	
}
.book>img{
	justify-self: center;
}
.book>div{
	color: #2ecc71;
	background-color: rgb(46, 204, 113);
	width: 100%;
	text-align: center;
}